<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center">其他出库明细</td></tr>
            <tr>
                <td><label>仓库：</label><label id="GBDFOUTWAREHOUSEID">@ViewBag.ware</label></td>
                <td><label>日期：</label><input type="text" id="date" value="" data-toggle="datepicker" size="12" /></td>
                <td><label>单据编号：</label><label id="GBDfcode">@Model.FCODE</label></td>
            </tr>
            <tr>
                <td><label>领用人：</label><label id="GBDfcode"></label></td>
                <td><label>制单人：</label><label id="GBDuserName">@ViewBag.userName</label></td>
                <td><label>摘要：</label><label id="GBDfmemo">@Model.FMEMO</label></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" id="GBDparentId" value="@Model.FGUID" />
</div>
<div class="bjui-pageContent">
    <table id="tabOtherOutDetails" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        var parentId = '@Model.FGUID';
        var wareId=@ViewBag.wareId;
        var url = "/OtherOut/GetAllOtherOutDetailsJson?parentId=" + parentId;
        var otherOutDetailGrid = $("#tabOtherOutDetails").datagrid({
            gridTitle: '其他出库单明细',
            toolbarCustom:'<button id="btnOtherOutAdd" type="button" class="btn btn-blue" data-icon="plus">添加</button>'+
                '<button id="btnOtherOutSave" type="button" class="btn btn-default" data-icon="save">保存</button>'+
                '<button id="btnOtherOutCancel" type="button" class="btn btn-default" data-icon="save">取消</button>'+
                '<button id="btnOtherOutDel" type="button" class="btn btn-red" data-icon="times">删除</button>',
            showToolbar: true,
            local:'local',
            data: [],
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add: false
                },
                {
                    name: 'FBATCH',
                    label: '批次号',
                    align: 'center',
                    width: 200,
                    edit: false,
                    add: false
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add: false
                },
                {
                    name: 'FUNIT',
                    label: '计量单位',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add: false
                },
                {
                    name: 'FSURPLUS',
                    label: '数量',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add: false
                },
                {
                    name: 'OutQuantity',
                    label: '出库数量',
                    align: 'center',
                    width: 80,
                    rule:'number'
                },
                {
                    name: 'FMONEY',
                    label: '金额',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add: false,
                    calc: 'sum',
                    calcTit: '合计',
                    calcDecimal: 2
                },
                {
                    name: 'FPRICE',
                    label: '单价',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add: false
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 180
                }
            ],
            editUrl: '/OtherOut/EditOtherOutDetailsJson?wareId='+wareId,
            ///delUrl: '/GoodsBack/DelGoodsBackDetailJson',
            editMode: 'inline',
            height: '100%',
            showTfoot: true,
            inlineEditMult:true,
            paging: false,
            showCheckboxcol:true
            //afterSave:function(){
            //    //$("#tabOtherOutDetails").datagrid("reload",{dataUrl:url});
            //    LoadData();
            //}
        });
        var allDatas=null;
        LoadData();
        function LoadData(){
            $(this).bjuiajax("doAjax", {
                url: '/OtherOut/GetAllOtherOutDetailsJson',
                data: {parentId:parentId},
                callback: function (json) {
                    $("#tabOtherOutDetails").datagrid('reload',{data:json.list});
                    allDatas=json.list;
                }
            });
        }
        $(document).on('click','#btnOtherOutAdd,#btnOtherOutSave,#btnOtherOutCancel,#btnOtherOutDel',function(){
            switch($(this).attr("id")){
                case 'btnOtherOutAdd':
                    Add();
                    break;
                case 'btnOtherOutSave':
                    Save();
                    break;
                case 'btnOtherOutCancel':
                    Cancel();
                    break;
                case 'btnOtherOutDel':
                    DelRows();
                    break;
            }
        });
        function DelRows(){
            var delRows=$("#tabOtherOutDetails").data("selectedDatas");
            if(delRows.length>1){
                $(this).alertmsg('warn', "不支持同时删除多条！");
                return false;
            }
            if (delRows == undefined || delRows.length == 0) {
                $(this).alertmsg('warn', "请勾选需要删除的行！");
                return false;
            }
            var $girddata=$("#tabOtherOutDetails").data("bjui.datagrid");
            for(var i=0,l=delRows.length;i<l;i++){
                var fguid = delRows[i].FGUID;
                var grid=$("#tabOtherOutDetails");
                //var index=delRows[i].gridIndex;
                if (fguid == null||fguid==undefined) {
                    var dataIndex=$.IndexOf(delRows[i].FGOODSID, $girddata.data, "FGOODSID");
                    $girddata.data.splice(dataIndex, 1);
                    $girddata.allData.splice(dataIndex, 1);
                    $($girddata.$tbody.find('> tr')[dataIndex]).remove();
                }else{
                    //从数据库删除
                    var dataIndex=$.IndexOf(delRows[i].FGUID, $girddata.data, "FGUID");
                    $(this).bjuiajax("doAjax", {
                        url: "/OtherOut/DelGoodsBackDetailJson",
                        data: { fguid:delRows[i].FGUID },
                        callback: function (json) {
                            if(json.statusCode=="300"){
                                $(this).alertmsg("warn", json.message);
                            }else{
                                $girddata.data.splice(dataIndex, 1);
                                $girddata.allData.splice(dataIndex, 1);
                                $($girddata.$tbody.find('> tr')[dataIndex]).remove();
                                $(this).alertmsg("ok", json.message);
                            }
                        }
                    });
                }
            }
        }
        function Cancel(){
            var alldatas=$("#tabOtherOutDetails").data("bjui.datagrid").data;
            var cancelDatas=[];
            var removeDatas=[];
            for(var i=0,l=alldatas.length;i<l;i++){//获取未保存的数据
                if(alldatas[i].FGUID!=undefined){
                    cancelDatas.push(alldatas[i]);
                }else{
                    removeDatas.push(alldatas[i]);
                }
            }
            //console.log(cancelDatas);
            if(cancelDatas.length>0){
                $("#tabOtherOutDetails").data("bjui.datagrid").options.data=[];
                $("#tabOtherOutDetails").datagrid('reload',{data:cancelDatas});
            }else{
                var $gird=$("#tabOtherOutDetails").data("bjui.datagrid");
                $gird.data=[];
                $gird.allData=[];
                for(var i=0,l=removeDatas.length;i<l;i++){
                    $($gird.$tbody.find('> tr')[removeDatas[i].gridIndex]).remove();
                }
            }
            //LoadData();
        }
        function Save(){
            var alldatas=$("#tabOtherOutDetails").data("bjui.datagrid").data;
            var saveDatas=[];
            for(var i=0,l=alldatas.length;i<l;i++){//获取未保存的数据
                if(alldatas[i].FGUID==undefined){
                    saveDatas.push(alldatas[i]);
                }
            }
            if(saveDatas.length>0){
                $(this).bjuiajax("doAjax", {
                    url: "/OtherOut/GetGoodsInfoByIdAndBatchWareJson",
                    data: { json:JSON.stringify(saveDatas), wareId: wareId },
                    callback: function (json) {
                        if(json.statusCode=="300"){
                            $(this).alertmsg("warn", "保存失败！");
                        }else{
                            LoadData();
                            $(this).alertmsg("ok", "保存成功！");
                        }
                    }
                });
            }else{
                $(this).alertmsg("warn", "没有需要保存的数据！");
                return false;
            }
        }
        function Add(){
            $(this).dialog({
                id: 'OtherOutDetailDlg',
                url:'/OtherOut/SelOtherOutGoods?wareId='+wareId,
                title: '选择商品',
                width: 840,
                mask: true,
                beforeClose:function($dialog){
                    datas = [];
                    var $checked = $dialog.find('input[name="child"]:checked');
                    if ($checked.length == 0)
                        return true;
                    var currentDatas = $('#tabOtherOutDetails').data("bjui.datagrid").data;
                    for (var i = 0, l = currentDatas.length; i < l; i++) {
                        datas.push(currentDatas[i]);
                    }
                    var bol = false;
                    var edits = [];
                    $checked.each(function () {
                        var goods = JSON.parse($(this).val());
                        var index = $.IndexOf(goods.FGOODSID, datas, "FGOODSID");
                        if (index != -1) {
                            return true;
                        }
                        bol = true;
                        delete goods.FGUID;
                        datas.push(goods);
                    });
                    $checked.each(function () {
                        var goods = JSON.parse($(this).val());
                        var index = $.IndexOf(goods.FGOODSID, datas, "FGOODSID");
                        if (index != -1) {
                            edits.push(index);
                        }
                        var alldatas=$("#tabOtherOutDetails").data("bjui.datagrid").data;
                        for(var i=0,l=alldatas.length;i<l;i++){//添加未保存的修改
                            if(alldatas[i].FGUID==undefined){
                                var location=$.IndexOf(alldatas[i].FGOODSID, datas, "FGOODSID");
                                if (location != -1) {
                                    edits.push(location);
                                }
                            }
                        }
                    });
                    if ($checked.length > 0 && bol) {
                        $('#tabOtherOutDetails').datagrid('reload', { local: 'local', data: datas });
                    }
                    $('#tabOtherOutDetails').data("bjui.datagrid").$tbody.on("han.reload.loaded", function () {
                        for (var i = 0, l = edits.length; i < l; i++) {
                            $('#tabOtherOutDetails').datagrid("doEditRow", edits[i]);
                        }
                        trClick();
                    });
                    return true;
                }
            });
        }
        //var doEdit=false;
        $("#tabOtherOutDetails").data("bjui.datagrid").$tbody.on("han.reload.loaded", function () {
            //if(doEdit){
            //    $("#tabOtherOutDetails").datagrid("doEditRow",0);
            //}
            //doEdit=false;
            var ths = $.CurrentNavtab.find("div.datagrid-box-f").find("table").find("th");
            var sumMoney=0;
            var newData = $("#tabOtherOutDetails").data("bjui.datagrid").data;
            for(var i=0,l=newData.length;i<l;i++){
                sumMoney+=newData[i].FMONEY==undefined?0:newData[i].FMONEY;
            }
            $(ths[8]).html('<div><div class="datagrid-calcbox">合计</div>' + toDecimal(sumMoney) + '</div>');
        });
        var clickTR=null,trdata=null;
        $(document).off('keypress', "#tabOtherOutDetails input[name=OutQuantity]");
        $(document).on('keypress', "#tabOtherOutDetails input[name=OutQuantity]", function (event) {
            //改为只监听数字键
            if (event.keyCode != "13")
                return;
            trClick();
            $(this).trigger("keyCodeEnter");
            var OutQuantity =$(this).val();
            if(isNaN(OutQuantity)){
                $(this).alertmsg("warn", "请输入数字！");
                return false;
            }
            if(trdata!=null){
                var fMoney=toDecimal(trdata.FPRICE*$(this).val());
                var gird = $("#tabOtherOutDetails");
                gird.datagrid("updateRow", trdata.gridIndex, { "OutQuantity": $(this).val(), "FMONEY": fMoney });
                if(clickTR!=null&&clickTR.hasClass("datagrid-edit-tr"))
                    clickTR.removeClass("datagrid-edit-tr");
                gird.datagrid("doEditRow", trdata.gridIndex);
                //console.log(goodsBackDetailGrid.data("bjui.datagrid").$tbody.find('> tr'));
                $($(gird.data("bjui.datagrid").$tbody.find('> tr')[trdata.gridIndex]).find('input[name=OutQuantity]')).focus();
            }
            //var fmemo=$("#tabOtherOutDetails").find("input[name=FMEMO]").val();
                
             //var differQuantity = trdata.FQUANTITY - $(this).val();
             //RepertoryCheckDetailGrid.datagrid("updateRow", trdata.gridIndex, { "FREALQUANTITY": $(this).val(), "FDIFFERQUANTITY": differQuantity });

            //$(this).bjuiajax("doAjax", {
            //    url: "/OtherOut/GetGoodsInfoByIdAndBatchWareJson",
            //    data: { goodsId: goodsId, batch: batch, wareId: wareId },
            //    callback: function (json) {
            //        if(json.length==0){
            //            $(this).alertmsg("warn", "没有商品信息！");
            //        }else{
            //            var info=json[0];
            //            var otherOutInfo={};
            //            otherOutInfo.FPARENTID=parentId;
            //            //otherOutInfo.wareId=wareId;
            //            otherOutInfo.FGOODSID=info.FGOODSID;
            //            otherOutInfo.FBATCH=batch;
            //            otherOutInfo.FGOODSNAME=info.FGOODSNAME;
            //            otherOutInfo.FSURPLUS=info.FSURPLUS;
            //            otherOutInfo.FUNIT=info.FUNIT;
            //            otherOutInfo.FQUANTITY=info.FQUANTITY;
            //            otherOutInfo.FPRICE=info.FPRICE;
            //            otherOutInfo.FMONEY=toDecimal(info.FPRICE*info.FQUANTITY);
            //            otherOutInfo.FMEMO=fmemo;
            //            allDatas.unshift(otherOutInfo);
            //            doEdit=true;
            //            $("#tabOtherOutDetails").datagrid("reload",{data:allDatas});
            //            //otherOutDetailGrid.datagrid("add",0,otherOutInfo);  
            //            //var trs=[];
            //            //trs.push(otherOutInfo);
            //            //otherOutDetailGrid.data("bjui.datagrid").tools.createTrs(trs,true);
            //            //otherOutDetailGrid.datagrid("doEditRow",0);
            //            //$("#tabOtherOutDetails").find("input[name=FGOODSID]").val(goodsId);
            //            //$("#tabOtherOutDetails").find("input[name=FBATCH]").val(batch);
            //        }
            //    }
            //});
            

             //console.log(goodsBackDetailGrid.data("bjui.datagrid").$tbody.find('> tr'));
             var ths = $.CurrentNavtab.find("div.datagrid-box-f").find("table").find("th");
             var sumCount = 0;
             var newData = $("#tabOtherOutDetails").data("bjui.datagrid").data;
             for (var i = 0, l = newData.length; i < l; i++) {
                 sumCount += newData[i].FMONEY==undefined?0:newData[i].FMONEY;
             }
             $(ths[8]).html('<div><div class="datagrid-calcbox">合计</div>' + toDecimal(sumCount) + '</div>');
        })
        function toDecimal(x){
            var f=parseFloat(x);
            if(isNaN(f))
                return;
            f=Math.round(x*100)/100;
            return f;
        }
        function trClick(){
            var that = $("#tabOtherOutDetails").data("bjui.datagrid");
            that.$tbody.find('> tr').on('keyCodeEnter',function(){
                trdata=that.data[$(this).index()];
                clickTR=$(this);
            });
        }

    })
</script>
