
<div class="bjui-pageHeader">
    <div class="pull-right">
        <button type="button" class="btn btn-close btn-blue" data-icon="check-square-o">选择选中</button>
    </div>
</div>
<div class="bjui-pageContent">
    <table data-toggle="tablefixed" data-width="100%">
        <thead>
            <tr>
                <th data-order-field="id">No.</th>
                <th data-order-field="FID">商品编号</th>
                <th data-order-field="FNAME">商品名称</th>
                <th data-order-field="FUNIT">计量单位</th>
                <th width="28"><input type="checkbox" class="checkboxCtrl" data-group="child" data-toggle="icheck"></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;
                IEnumerable<Object> list = ViewBag.list as IEnumerable<Object>;
                foreach (var item in list)
                {
                    i = i + 1;
                    string Json = BL.Framework.JsonHelper.Instance.Serialize(item);
                    Newtonsoft.Json.Linq.JObject jarray = (Newtonsoft.Json.Linq.JObject)Newtonsoft.Json.JsonConvert.DeserializeObject(Json);
                    <tr>
                        <td>@i</td>
                        <td>@jarray["FID"]</td>
                        <td>@jarray["FNAME"]</td>
                        <td>@jarray["FUNIT"]</td>
                        <td><input type="checkbox" name="child" data-toggle="icheck" value="@Json"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
