@model BL.Models.ViewGOODSBACKModel
<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center">商品回库明细</td></tr>
            <tr>
                <td><label>日期：</label><input type="text" id="date" value="" data-toggle="datepicker" size="12" /></td>
                <td><label>调出仓库：</label><label id="GBDFOUTWAREHOUSEID">@ViewBag.outWare</label></td>
                <td><label>调回仓库：</label><label id="GBDFINWAREHOUSEID">@ViewBag.inWare</label></td>
            </tr>
            <tr>
                <td><label>制单人：</label><label id="GBDuserName">@ViewBag.userName</label></td>
                <td><label>单据编号：</label><label id="GBDfcode">@Model.FCODE</label></td>
                <td><label>摘要：</label><label id="GBDfmemo">@Model.FMEMO</label></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" id="GBDparentId" value="@Model.FGUID" />
</div>
<div class="bjui-pageContent">
    <label for="goodsBackDetailCode" class="control-label">条码：</label><input class="form-control" type="text" id="goodsBackDetailCode" />
    <table id="tabGoodsBackDetails" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<div id="print" style="display:none">
        <img alt="barcode" id="printImg" width="100" height="30" src="/Common/GetBarCodeImage?text=12345" />
        <label>测试</label>
        <button type="button" id="startPrint">打印</button>
</div>
<script type="text/javascript">
    $(function () {
        var outWare = '@Model.FOUTWAREHOUSEID';
        var inWare = '@Model.FINWAREHOUSEID';//调回总仓
        var url = "/GoodsBack/GetGoodsBackDetailsList?parentId=@Model.FGUID"+"&inWareHouse="+outWare+"&wareHouse="+inWare;
        var goodsBackDetailGrid = $("#tabGoodsBackDetails").datagrid({
            gridTitle: '商品回库明细',
            toolbarCustom: '<button type="button" id="btnGBDSave" data-icon="save" class="btn btn-default">保存</button>'+
            '<button id="btnGBDExport" type="button" class="btn btn-red">导出</button><button type="button" id="btnGBDApplay" class="btn btn-red">提交</button>',
            showToolbar: true,
            toolbarItem: 'del',
            addLocation: 'first',
            dataUrl: url,
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FBARCODE',
                    label: '商品条码',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FUNIT',
                    label: '计量单位',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FQUANTITY',
                    label: '账存数量',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FPRICE',
                    label: '成本单价',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FMARKETPRICE',
                    label: '销售单价',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FACTUALQUANTITY',
                    label: '实际数量',
                    rule: 'number',
                    width: 80,
                    type:'spinner',
                    attrs:{max:10000},
                    rule:"required,integer"
                },
                {
                    name: 'FDIFFERQUANTITY',
                    label: '数量差异',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FDIFFERMONEY',
                    label: '销售金额差异',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false,
                    calc:'sum',
                    calcTit:'合计',
                    calcDecimal:2
                }
            ],
            editUrl: '/GoodsBack/EditGoodsBackDetailsJson',
            contextMenuB: true,
            editMode: 'inline',
            height: '100%',
            showTfoot: true,
            paging:false
        });
        var datas=[];
        var trdata=null;
        var clickTR=null;
        var parentId = $("#GBDparentId").val();
        $(document).off("keypress", "#goodsBackDetailCode");
        $(document).on("keypress", "#goodsBackDetailCode", function (event) {
            if (event.keyCode == "13") {
                var grid = $("#tabGoodsBackDetails");
                var allData = grid.data("bjui.datagrid").data;
                var barCode = $("#goodsBackDetailCode").val().split(" ");
                if (barCode.length != 4) {
                    $(this).alertmsg("warn", "请检查后商品条码问题！");;
                    return false;
                }
                var barCodeWeight = barCode[3];
                var index = $.IndexOf($("#goodsBackDetailCode").val(), allData, "FBARCODE");
                if (index == -1) {
                    $(this).alertmsg("warn", "没有对应的商品！");;
                    return false;
                }
                var rowData=allData[index];
                var rindex=rowData.gridIndex;
                var quantity = rowData.FACTUALQUANTITY +parseFloat(barCodeWeight);
                var differQuantity = toDecimal(rowData.FQUANTITY - quantity);
                var differMoney=toDecimal(differQuantity*rowData.FPRICE);
                grid.datagrid("updateRow", rindex, { "FACTUALQUANTITY": quantity, "FDIFFERQUANTITY": differQuantity, "FDIFFERMONEY": differMoney });
                var ths = $("div.datagrid-box-f").find("table").find("th");
                var sumMoney=0;
                var newData = grid.data("bjui.datagrid").data;
                for(var i=0,l=newData.length;i<l;i++){
                    console.log(newData[i]);
                    sumMoney+=newData[i].FDIFFERMONEY;
                }
                $(ths[10]).html('<div><div class="datagrid-calcbox">合计</div>' + sumMoney + '</div>');
            }
        })
        function toDecimal(x){
            var f=parseFloat(x);
            if(isNaN(f))
                return;
            f=Math.round(x*100)/100;
            return f;
        }
        $(document).off("click", "#btnGBDSave,#btnGBDApplay,#btnGBDPrint");
        $(document).on("click","#btnGBDSave,#btnGBDApplay,#btnGBDPrint",function(){
            var btn = $(this).attr("id");
            switch(btn){
                case "btnGBDSave":
                    Save();
                    break;
                case "btnGBDApplay":
                    GoodsApplay();
                    break;
                case "btnGBDPrint":
                    //$.CurrentNavtab.find('#printImg').attr("src","/Common/GetBarCodeImage?text=12345");
                    $(this).dialog({id:'print', target:'#print', title:'打印'});
                    $("#startPrint").click(function(){
                        $(".dialogContent").printArea();
                    });
                    break;
            }
        })
        function Save() {
            var bgdSaveDatas = $("#tabGoodsBackDetails").data("bjui.datagrid").data;
            $(this).bjuiajax("doAjax", {
                url: "/GoodsBack/EditGoodsBackDetailsJson",
                data: { json: JSON.stringify(bgdSaveDatas), parentId: parentId, outWare: outWare },
                confirmMsg: "确认保存？",
                callback: function (json) {
                    if (json.statusCode != "200") {
                        $(this).alertmsg("warn", json.message);
                    } else {
                        $(this).alertmsg("ok", json.message);
                    }
                }
            });
        }
        function Add(){
            datas=[];
            $(this).dialog({
                id:'GoodsBackDetail',
                url:'/Common/LookUpRepertoryChild?inWareHouse='+outWare,
                title:'选择商品',
                width:840,
                beforeClose:function($dialog){
                    var $checked=$dialog.find('input[name="child"]:checked');
                    if($checked.length==0)
                        return true;
                    $checked.each(function(){
                        var goods=JSON.parse($(this).val());
                        delete goods.FGUID;
                        goods.FQUANTITY=goods.FENABLE;
                        goods.FPARENTID=parentId;
                        datas.unshift(goods);
                        $("#tabGoodsBackDetails").datagrid("add", 0, goods);
                    });
                    $("#tabGoodsBackDetails").data("bjui.datagrid").tools.createTrs(datas, true);
                    $checked.each(function(i){
                        $("#tabGoodsBackDetails").datagrid("doEditRow", i);
                    });
                    trClick();
                    return true;
                }
            })
        };
        function GoodsApplay(){
            var bgdAllDatas = $("#tabGoodsBackDetails").data("bjui.datagrid").data;
            $(this).bjuiajax("doAjax",{
                url: "/GoodsBack/ApplayGoodsBackDetailJson",
                data: { json: JSON.stringify(bgdAllDatas), parentId: parentId, outWare: outWare },
                confirmMsg: "确认提交？",
                callback: function (json) {
                    if (json.statusCode!="200") {
                        //maingrid.datagrid("updateRow", data.gridIndex, { FSTATUS: "3", FENDTIME:json.time});
                        $(this).alertmsg("warn", json.message);
                    } else {
                        $(this).alertmsg("ok", json.message);
                    }
                }
            });
        };
        $(document).on('keypress',"#tabGoodsBackDetails input",function(event){
            //改为只监听数字键
            if(event.keyCode!="13")
                return;
            $(this).trigger("keyCodeEnter");
            if(trdata!=null){
                var differQuantity= trdata.FENABLE-$(this).val();
                var differMoney = differQuantity * trdata.FMARKETPRICE;
                var gird = $("#tabGoodsBackDetails");
                gird.datagrid("updateRow", trdata.gridIndex, { "FACTUALQUANTITY": $(this).val(), "FDIFFERQUANTITY": differQuantity, "FDIFFERMONEY": differMoney });
                if(clickTR!=null&&clickTR.hasClass("datagrid-edit-tr"))
                    clickTR.removeClass("datagrid-edit-tr");
                gird.datagrid("doEditRow", trdata.gridIndex);
                //console.log(goodsBackDetailGrid.data("bjui.datagrid").$tbody.find('> tr'));
                $($(gird.data("bjui.datagrid").$tbody.find('> tr')[trdata.gridIndex]).find('input')).focus();
            }
        })
        function trClick(){
            var that = $("#tabGoodsBackDetails").data("bjui.datagrid");
            that.$tbody.find('> tr').on('keyCodeEnter',function(){
                trdata=that.data[$(this).index()];
                clickTR=$(this);
            });
        }
    })
</script>