@model BL.Models.ViewGOODSBACKModel
<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center">商品回库明细</td></tr>
            <tr>
                <td><label>日期：</label><input type="text" id="date" value="" data-toggle="datepicker" size="12" /></td>
                <td><label>调出仓库：</label><label id="GBDFOUTWAREHOUSEID">@ViewBag.outWare</label></td>
                <td><label>调回仓库：</label><label id="GBDFINWAREHOUSEID">@ViewBag.inWare</label></td>
            </tr>
            <tr>
                <td><label>制单人：</label><label id="GBDuserName">@ViewBag.userName</label></td>
                <td><label>单据编号：</label><label id="GBDfcode">@Model.FCODE</label></td>
                <td><label>摘要：</label><label id="GBDfmemo">@Model.FMEMO</label></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" id="GBDparentId" value="@Model.FGUID" />
</div>
<div class="bjui-pageContent">
    <table id="tabGoodsBackDetails" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<div id="print">
        <img alt="barcode" id="printImg" width="100" height="30" src="/Common/GetBarCodeImage?text=12345" />
        <label>测试</label>
        <button type="button" id="startPrint">打印</button>
</div>
<script type="text/javascript">
    $(function () {
        var outWare=@Model.FOUTWAREHOUSEID;
        var url = "/GoodsBack/GetGoodsBackDetailsList?parentId=@Model.FGUID";
        goodsBackDetailGrid = $("#tabGoodsBackDetails").datagrid({
            gridTitle: '商品回库明细',
            toolbarCustom: '<button type="button" id="btnGBDAdd" data-icon="plus" class="btn btn-blue">添加</button><button type="button" id="btnGBDSave" data-icon="save" class="btn btn-default">保存</button>'+
            '<button type="button" id="btnGBDPrint" class="btn btn-green">打印</button><button type="button" id="btnGBDPreview" class="btn btn-red">预览</button>'+
            '<button id="btnGBDExport" type="button" class="btn btn-red">导出</button><button type="button" id="btnGBDApplay" class="btn btn-red">提交</button>',
            showToolbar: true,
            toolbarItem: 'del',
            addLocation: 'first',
            dataUrl: url,
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FBARCODE',
                    label: '商品条码',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false
                },
                {
                    name: 'FUNIT',
                    label: '计量单位',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FBATCH',
                    label: '批次',
                    align: 'center',
                    width: 220,
                    edit: false,
                    add:false
                },
                {
                    name: 'FQUANTITY',
                    label: '账存数量',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FPRICE',
                    label: '成本单价',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FMARKETPRICE',
                    label: '销售单价',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FACTUALQUANTITY',
                    label: '实际数量',
                    rule: 'number',
                    width: 80,
                    type:'spinner',
                    attrs:{max:10000},
                    rule:"required,integer"
                },
                {
                    name: 'FDIFFERQUANTITY',
                    label: '数量差异',
                    align: 'center',
                    width: 80,
                    edit: false,
                    add:false
                },
                {
                    name: 'FDIFFERMONEY',
                    label: '销售金额差异',
                    align: 'center',
                    width: 100,
                    edit: false,
                    add:false,
                    calc:'sum',
                    calcTit:'合计',
                    calcDecimal:2
                }
            ],
            editUrl: '/GoodsBack/EditGoodsBackDetailsJson',
            delUrl: '/GoodsBack/DelGoodsBackDetailJson',
            contextMenuB: true,
            editMode: 'inline',
            height: '100%',
            showTfoot: true
        });
        var datas=[];
        var trdata=null;
        var clickTR=null;
        var parentId=$("#GBDparentId").val();
        $(document).on("click","#btnGBDAdd,#btnGBDSave,#btnGBDApplay,#btnGBDPrint",function(){
            var btn = $(this).attr("id");
            switch(btn){
                case "btnGBDAdd":
                    Add();
                    break;
                case "btnGBDSave":
                    datas=[]
                    goodsBackDetailGrid.datagrid("doSaveEditRow"); 
                    break;
                case "btnGBDApplay":
                    GoodsApplay();
                    break;
                case "btnGBDPrint":
                    //$.CurrentNavtab.find('#printImg').attr("src","/Common/GetBarCodeImage?text=12345");
                    $(this).dialog({id:'print', target:'#print', title:'打印'});
                    $("#startPrint").click(function(){
                        $(".dialogContent").printArea();
                    });
                    break;
            }
        })
        function Add(){
            datas=[];
            $(this).dialog({
                id:'GoodsBackDetail',
                url:'/Common/LookUpRepertoryChild?inWareHouse='+outWare,
                title:'选择商品',
                width:840,
                beforeClose:function($dialog){
                    var $checked=$dialog.find('input[name="child"]:checked');
                    if($checked.length==0)
                        return true;
                    $checked.each(function(){
                        var goods=JSON.parse($(this).val());
                        delete goods.FGUID;
                        goods.FQUANTITY=goods.FENABLE;
                        goods.FPARENTID=parentId;
                        datas.unshift(goods);
                        goodsBackDetailGrid.datagrid("add",0,goods);   
                    });
                    goodsBackDetailGrid.data("bjui.datagrid").tools.createTrs(datas,true);
                    $checked.each(function(i){
                        goodsBackDetailGrid.datagrid("doEditRow", i); 
                    });
                    trClick();
                    return true;
                }
            })
        };
        function GoodsApplay(){
            var bgdAllDatas=goodsBackDetailGrid.data("bjui.datagrid").allData;
            $(this).bjuiajax("doAjax",{
                url: "/GoodsBack/ApplayGoodsBackDetailJson",
                data: { json:JSON.stringify(bgdAllDatas),parentId:parentId },
                confirmMsg: "确认提交？",
                callback: function (json) {
                    if (json.statusCode!="200") {
                        //maingrid.datagrid("updateRow", data.gridIndex, { FSTATUS: "3", FENDTIME:json.time});
                        $(this).alertmsg("warn", json.message);
                    } else {
                        $(this).alertmsg("ok", "禁用失败");
                    }
                }
            });
        };
        $(document).on('keypress',"#tabGoodsBackDetails input",function(event){
            //改为只监听数字键
            if(event.keyCode!="13")
                return;
            $(this).trigger("keyCodeEnter");
            if(trdata!=null){
                var differQuantity= trdata.FENABLE-$(this).val();
                var differMoney=differQuantity*trdata.FMARKETPRICE;
                goodsBackDetailGrid.datagrid("updateRow", trdata.gridIndex,{"FACTUALQUANTITY":$(this).val(),"FDIFFERQUANTITY":differQuantity,"FDIFFERMONEY":differMoney});  
                if(clickTR!=null&&clickTR.hasClass("datagrid-edit-tr"))
                    clickTR.removeClass("datagrid-edit-tr");
                goodsBackDetailGrid.datagrid("doEditRow", trdata.gridIndex);
                //console.log(goodsBackDetailGrid.data("bjui.datagrid").$tbody.find('> tr'));
                $($(goodsBackDetailGrid.data("bjui.datagrid").$tbody.find('> tr')[trdata.gridIndex]).find('input')).focus();
            }
        })
        function trClick(){
            var that=goodsBackDetailGrid.data("bjui.datagrid");
            that.$tbody.find('> tr').on('keyCodeEnter',function(){
                trdata=that.data[$(this).index()];
                clickTR=$(this);
            });
        }
    })
</script>