@model BL.Models.T_GOODSALLOTModel
<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center;">商品调拨单</td></tr>
            <tr>
                <td><label>日期：</label><input type="text" id="date" value="@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")" data-toggle="datepicker" size="12" /></td>
                <td><label>调出仓库：</label><label id="FOUTWAREHOUSEID">@ViewBag.outWare&nbsp;</label></td>
                <td><label>调入仓库：</label><label id="FINWAREHOUSEID">@ViewBag.inWare&nbsp;</label></td>
            </tr>
            <tr>
                <td><label>制单人：</label><label id="userName">@ViewBag.userName</label></td>
                <td><label>单据编号：</label><label id="fcode">@Model.FCODE</label></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><label>摘要：</label><label id="fmemo">@Model.FAPPLYID</label></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="bjui-pageContent">
    <table id="tabGOODSALLOTInDetail" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        //$("#btnSearch").click(function () {
        //    var url = '/FNCBALANCE/GetAllFNCBALANCEJson?FID=' + $("#txtFID").val() + "&FNAME=" + $("#txtFNAME").val();
        //    maingrid.datagrid("reload", {dataUrl:url});
        //});

        //$("#saledateTime").blur(function () {
        //    if($("#selWarehose").val()!="")
        //    {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});
        //$("#selWarehose").change(function () {
        //    if ($("#saledateTime").val() != "") {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});
        var fparentId = '@Model.FGUID';
        var FOUTWAREHOUSEID = '@Model.FOUTWAREHOUSEID';
        var FINWAREHOUSEID = '@Model.FINWAREHOUSEID';
        var FDATE='@Model.FDATE'
        var jldw = LoadUnitDataForRowSel();
        var Fdate = '@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")';
        var wareHouseLst;
        $(this).bjuiajax("doAjax", {
            url: "/Common/GetWareHoseJson",
            callback: function (json) {
                wareHouseLst = json;
            }
        });
        var gysList = LoadGYSDataForRowSel();
        var fstatus = '@Model.FSTATUS';
        GOODSALLOTInDetailgrid = $("#tabGOODSALLOTInDetail").datagrid({
            gridTitle: '商品调拨明细',
            toolbarCustom: (fstatus == '2' ? '' : '<button type="button" id="btnGoodsAllotAdd" data-icon="plus" class="btn btn-blue">添加</button><button type="button" id="btnGoodsAllotSave" data-icon="save" class="btn btn-default">保存</button>') +
           '<button type="button" id="GoodsAllotprint" class="btn btn-green">打印</button><button type="button" id="preview" class="btn btn-red">预览</button>' +
           '<button id="GoodsAllotexport" type="button" class="btn btn-red">导出</button>' + (fstatus == '2' ? '' : '<button type="button" id="GoodsAllotapplay" class="btn btn-red">提交</button><button type="button" id="GoodsAllotCreateMark" class="btn btn-red">打印条码</button>'),
            showToolbar: true,
            toolbarItem: (fstatus == '2' ? '' : 'del'),
            addLocation: 'first',
            dataUrl: '/GOODSALLOT/GetAllGOODSALLOTDetailJson?FPARENTID=' + fparentId,
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide: true,
                    width: 50

                },
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    eidt: false,
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    eidt: false,
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FUNIT',
                    label: '计量单位',
                    eidt: false,
                    align: 'center',
                    type: 'select',
                    items: function () {
                        return jldw;
                    },
                    width: 80
                },
                 {
                     name: 'FBATCH',
                     label: '批次',
                     eidt: false,
                     align: 'center',
                     width: 80
                 },
                {
                    name: 'FQUANTITY',
                    label: '数量',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FPRICE',
                    label: '成本单价',
                    eidt: false,
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FMONEY',
                    label: '成本金额',
                    eidt: false,
                    align: 'center',
                    width: 110
                },
                {
                    name: 'FMARKETPRICE',
                    label: '销售单价',
                    eidt: false,
                    align: 'center',
                    width: 110
                },
                {
                    name: 'FMARKETMONEY',
                    label: '销售金额',
                    eidt: false,
                    align: 'center',
                    calc: 'sum',
                    calcTit: '金额合计',
                    width: 110
                },
                {
                    name: 'FBARCODE',
                    label: '条码',
                    align: 'center',
                    type: 'select',
                    items: function () {
                        return gysList;
                    },
                    width: 110
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 110
                }
            ],
            contextMenuB: true,
            editUrl: '/GOODSALLOT/EditGOODSALLOTInDetail?FPARENTID=' + fparentId,
            delUrl: '/GOODSALLOT/DelGOODSALLOTDetail',
            editMode: 'inline',
            delConfirm: true,
            inlineEditMult: true,
            fullGrid: true,
            showLinenumber: true,
            paging: false,
            height: '100%',
            showCheckboxcol: false
        });


        $.CurrentNavtab.find("#export").click(function () {
            //$("form").attr("enctype", "multipart/form-data");
            window.open("/GOODSALLOT/ExportInfoIn?FPARENTID=" + fparentId);
        })
        @*var outWare = '@Model.FWAREHOUSEID';*@

        $(document).on("click", "#btnGoodsAllotAdd,#btnGoodsAllotSave,#btnDel,#GoodsAllotCreateMark", function () {
            var btn = $(this).attr("id");
            switch (btn) {
                case "btnGoodsAllotAdd":
                    Add();
                    break;
                case "btnGoodsAllotSave":
                    datas = []
                    GOODSALLOTInDetailgrid.datagrid("doSaveEditRow");
                    break;
                case "btnDel":
                    GOODSALLOTInDetailgrid.datagrid("delRows", goodsBackDetailGrid.data('selectedDatas'));
                    break;
                case "GoodsAllotCreateMark":

                    break;
            }
        })
        function createSelectedRowMark()
        {
            var selectedDatas = GOODSALLOTInDetailgrid.data('selectedDatas');
            if (selectedDatas == undefined || selectedDatas.length == 0) {
                $(this).alertmsg('warn', '未选中任何行');
                return false;
            }
            var data = selectedDatas[0];
            var markText = "@ViewBag.outWare" + " " + data.FGOODSID + " " + data.FMARKETPRICE + " " + data.FQUANTITY;
        }

        $.CurrentNavtab.find("#GoodsAllotapplay").click(function () {
            submitConsumable();
        });
        function submitConsumable() {
            $(this).bjuiajax("doAjax", {
                url: "/GOODSALLOT/SubmitConsumable?fguid=" + fparentId,
                callback: function (json) {
                    if (json == '1') {
                        $(this).alertmsg("ok", "提交成功");
                        $(this).navtab('closeTab', "GOODSALLOTInDetail");
                    }
                }
            });
        }
    });
    var curFGUID = '@Model.FGUID';
    function Add() {
        datas = [];
        $(this).dialog({
            id: 'GOODSALLOTOutDetail',
            url: '/GOODSALLOT/selectOutGoods?FWAREHOUSEID=' + FOUTWAREHOUSEID + "&FGUID=" + curFGUID + "&FDATE=" + FDATE,
            title: '选择商品',
            width: 840,
            mask: true,
            beforeClose: function ($dialog) {
                var $checked = $dialog.find('input[name="child"]:checked');
                if ($checked.length == 0)
                    return true;
                $checked.each(function () {
                    var goods = JSON.parse($(this).val());
                    delete goods.FGUID;
                    //delete goods.
                    //goods.FPARENTID = parentId;
                    datas.unshift(goods);
                    GOODSALLOTInDetailgrid.datagrid("add", "last", goods);
                });
                GOODSALLOTInDetailgrid.data("bjui.datagrid").tools.createTrs(datas, true);
                $checked.each(function (i) {
                    GOODSALLOTInDetailgrid.datagrid("doEditRow", i);
                });
                //trClick();
                return true;
            }
        })
    };

    $(document).on('keypress', "#tabGOODSALLOTInDetail input", function (event) {
        //改为只监听数字键
        if (event.keyCode != "13")
            return;
        $(this).trigger("keyCodeEnter");
        var trdata = $('#tabGOODSALLOTInDetail').data('selectedDatas');
        alert(trdata.length);
        if (trdata.length > 0) {
            var differMoney = trdata[0].FMONEY / $(this).val();
            GOODSALLOTInDetailgrid.datagrid("updateRow", trdata[0].gridIndex, { "FMONEY": $(this).val(), "FPRICE": differMoney });
            if (trdata[0] != null && $(trdata[0]).hasClass("datagrid-edit-tr"))
                $(trdata[0]).removeClass("datagrid-edit-tr");
            GOODSALLOTInDetailgrid.datagrid("doEditRow", trdata[0].gridIndex);
        }
    })
</script>