@model BL.Models.T_FNCBALANCEModel
<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center;">财务结算</td></tr>
            <tr>
                <td><label>日期：</label><input type="text" id="date" value="@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")" data-toggle="datepicker" size="12"  /></td>
                <td><label>仓库：</label><label id="FOUTWAREHOUSEID">@ViewBag.outWare&nbsp;</label></td>
                <td><label>单据编号：</label><label id="fcode">@Model.FCODE</label></td>
            </tr>
            <tr>
                <td><label>摘要：</label><label id="fmemo">@Model.FMEMO</label></td>
                <td></td>
                <td><label>制单人：</label><label id="userName">@ViewBag.userName</label></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="bjui-pageContent">
    <table id="tabFNCBALANCEDetail" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        //$("#btnSearch").click(function () {
        //    var url = '/FNCBALANCE/GetAllFNCBALANCEJson?FID=' + $("#txtFID").val() + "&FNAME=" + $("#txtFNAME").val();
        //    maingrid.datagrid("reload", {dataUrl:url});
        //});

        //$("#saledateTime").blur(function () {
        //    if($("#selWarehose").val()!="")
        //    {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});
        //$("#selWarehose").change(function () {
        //    if ($("#saledateTime").val() != "") {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});

        var itemJLDW = LoadUnitDataForRowSel();
        var itemSPFL = LoadGoodsDataForRowSel();
        var fparentId = '@Model.FGUID';
        var fstatue='@Model.FSTATUS';
        var FINWAREHOUSEID = '@Model.FWAREHOUSEID';
        var Fdate = '@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")';
        var wareHouseLst;
        $(this).bjuiajax("doAjax", {
            url: "/Common/GetWareHoseJson",
            callback: function (json) {
                wareHouseLst = json;
            }
        });
        var fstatus = '@Model.FSTATUS';
        FNCBALANCEDetailgrid = $("#tabFNCBALANCEDetail").datagrid({
            gridTitle: '财务结算明细',
            toolbarCustom: 
           '<button type="button" id="print" class="btn btn-green">打印</button><button type="button" id="preview" class="btn btn-red">预览</button>' +
           '<button id="export" type="button" class="btn btn-red">导出</button>'+(fstatus=='2'?'':'<button type="button" id="applay" class="btn btn-red">提交</button>'),
            showToolbar: true,
            toolbarItem: (fstatus=='2'?'':'save,|,cancel'),
            addLocation: 'first',
            dataUrl: '/FNCBALANCE/getSaleDayBook?FPARENTID=' + fparentId + "&FINWAREHOUSEID=" + FINWAREHOUSEID + "&Fdate=" + Fdate,
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FWAREHOUSEID',
                    label: '销售仓库',
                    align: 'center',
                    edit: false,
                    type: 'select',
                    items: function () {
                        return wareHouseLst;
                    },
                    width: 80
                },
                {
                    name: 'FMARKETMONEY',
                    label: '销售金额',
                    align: 'center',
                    calc: 'sum',
                    calcTit: '销售金额合计',
                    edit:false,
                    width: 80
                },
                {
                    name: 'FBACKTMONEY',
                    label: '回款金额',
                    align: 'center',
                    calc: 'sum',
                    calcTit: '回款金额合计',
                    rule: 'number,required',
                    width: 80
                },
                {
                    name: 'FDIFFERMONEY',
                    label: '差异金额',
                    align: 'center',
                    calc: 'sum',
                    calcTit: '差异金额合计',
                    edit:false,
                    width: 80
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 110
                }
            ],
            contextMenuB: true,
            editUrl: '/FNCBALANCE/EditFncbalanceDetail?FPARENTID=' + fparentId,
            editMode: 'inline',
            inlineEditMult:true,
            fullGrid: true,
            showLinenumber: true,
            showTfoot:true,
            paging: false,
            height: '100%',
            showCheckboxcol: false,
            onLoaded: function (response)
            {
                if (fstatue == '1')
                {
                    for(var i=0;i<response.list.length;i++)
                    {
                        FNCBALANCEDetailgrid.datagrid("doEditRow", i);
                        var curIndex = i;
                        $("#tabFNCBALANCEDetail tr:eq(" + curIndex + ")").find("input").focus(function () {
                            FNCBALANCEDetailgrid.datagrid("selectedRows", curIndex);
                        });
                    }
                    $("input[name='FBACKTMONEY']").keyup(function () {
                        var trdata = $('#tabFNCBALANCEDetail').data('selectedDatas');
                        if (trdata.length > 0) {
                            var xsje = trdata[0].FMARKETMONEY;
                            var hkje = $(this).val();
                            var differMoney = parseFloat(trdata[0].FMARKETMONEY) - parseFloat($(this).val());
                            FNCBALANCEDetailgrid.datagrid("updateRow", trdata[0].gridIndex, { "FBACKTMONEY": $(this).val(), "FDIFFERMONEY": toDecimal(differMoney) });
                            FNCBALANCEDetailgrid.datagrid("doCancelEditRow", trdata[0].gridIndex);
                            FNCBALANCEDetailgrid.datagrid("doEditRow", trdata[0].gridIndex);
                            SumCalc();
                        }
                    })
                }
            }
        });

        $.CurrentNavtab.find("#export").click(function () {
            //$("form").attr("enctype", "multipart/form-data");
            window.open("/FNCBALANCE/ExportInfo?FPARENTID=" + fparentId);
        })

        $.CurrentNavtab.find("#applay").click(function () {
            submitConsumable();
        });
        function submitConsumable() {
            $(this).bjuiajax("doAjax", {
                url: "/FNCBALANCE/SubmitFNCBALANCE?fguid=" + fparentId,
                callback: function (json) {
                    if (json == '1') {
                        $(this).alertmsg("ok", "提交成功");
                        $(this).navtab('closeTab', "FncbalanceDetail");
                    }
                }
            });
        }

        function SumCalc()
        {
            var xsjeSum = 0;
            var hkjeSum = 0;
            var cyjeSum = 0;
            $("#tabFNCBALANCEDetail tbody tr").each(function (i) {
                var tds = $(this).find("td");
                var xsje = 0;
                if ($(tds[3]).find("div").length > 0) {
                    xsje = $($(tds[3]).find("div")[0]).html();
                } else {
                    xsje = $(tds[3]).html();
                }
                var hkje = 0;
                if ($(tds[4]).find("input").length > 0) {
                    hkje = $($(tds[4]).find("input")[0]).val();
                } else {
                    hkje = $(tds[4]).html();
                }
                var cyje = 0;
                if ($(tds[5]).find("div").length > 0) {
                    cyje = $($(tds[5]).find("div")[0]).html();
                } else {
                    cyje = $(tds[5]).html();
                }
                xsjeSum += parseFloat(xsje);
                hkjeSum += parseFloat(hkje);
                cyjeSum += parseFloat(cyje);
            })
            var ths = $("div.datagrid-box-f").find("table").find("th");
            
            $(ths[3]).html('<div><div class="datagrid-calcbox">合计</div>' + xsjeSum + '</div>');
            $(ths[4]).html('<div><div class="datagrid-calcbox">合计</div>' + hkjeSum + '</div>');
            $(ths[5]).html('<div><div class="datagrid-calcbox">合计</div>' + cyjeSum + '</div>');
        }

        function toDecimal(x) {
            var f = parseFloat(x);
            if (isNaN(f))
                return;
            f = Math.round(x * 100) / 100;
            return f;
        }
    });
    //$(document).on('keypress', "#tabFNCBALANCEDetail input", function (event) {
    //    //改为只监听数字键
    //    //if (event.keyCode != "13")
    //    //    return;
    //    //$(this).trigger("keyCodeEnter");
    //    $(this).trigger("blur");
    //    var trdata = $('#tabFNCBALANCEDetail').data('selectedDatas');
    //    if (trdata.length > 0) {
    //        if ($(this).attr("Name") == "FBACKTMONEY") {
    //            var differMoney = trdata[0].FMARKETMONEY - $(this).val();
    //            FNCBALANCEDetailgrid.datagrid("updateRow", trdata[0].gridIndex, { "FBACKTMONEY": $(this).val(), "FDIFFERMONEY": differMoney });
    //            //if (trdata[0] != null && $(trdata[0]).hasClass("datagrid-edit-tr"))
    //            //    $(trdata[0]).removeClass("datagrid-edit-tr");
    //        }
    //        //FNCBALANCEDetailgrid.datagrid("doSaveEditRow");
    //        //FNCBALANCEDetailgrid.datagrid("doEditRow", trdata[0].gridIndex);
    //    }
    //})
</script>