@model BL.Models.T_CONSUMABLESModel
<div class="bjui-pageHeader" style="background:#FFF;">
    <table class="table">
        <tbody>
            <tr><td colspan="3" style="text-align:center;">消耗品出库单</td></tr>
            <tr>
                <td><label>仓库：</label><label id="FOUTWAREHOUSEID">@ViewBag.outWare&nbsp;</label></td>
                <td><label>日期：</label><input type="text" id="date" value="@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")" data-toggle="datepicker" size="12"  /></td>
                <td><label>单据编号：</label><label id="fcode">@Model.FCODE</label></td>
            </tr>
            <tr>
                <td><label>领用人：</label><label id="FPERSONID">@Model.FPERSONID</label></td>
                <td colspan="2"><label>制单人：</label><label id="userName">@ViewBag.userName</label></td>
            </tr>
            <tr>
                <td colspan="3"><label>摘要：</label><label id="fmemo">@Model.FAPPLYID</label></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="bjui-pageContent">
    <table id="tabConsumablesOutDetail" data-height="100%" class="table table-bordered table-striped"></table>
</div>
<script type="text/javascript">
    $(function () {
        //$("#btnSearch").click(function () {
        //    var url = '/FNCBALANCE/GetAllFNCBALANCEJson?FID=' + $("#txtFID").val() + "&FNAME=" + $("#txtFNAME").val();
        //    maingrid.datagrid("reload", {dataUrl:url});
        //});

        //$("#saledateTime").blur(function () {
        //    if($("#selWarehose").val()!="")
        //    {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});
        //$("#selWarehose").change(function () {
        //    if ($("#saledateTime").val() != "") {
        //        var url = '/FNCBALANCE/getSaleDayBook?Fdate=' + $("#saledateTime").val() + "&FINWAREHOUSEID=" + $("#selWarehose").val();
        //        maingrid.datagrid("reload", { dataUrl: url });
        //    }
        //});
        var fparentId = '@Model.FGUID';
        var FINWAREHOUSEID = '@Model.FWAREHOUSEID';
        var Fdate = '@Convert.ToDateTime(Model.FDATE).ToString("yyyy-MM-dd")';
        var wareHouseLst;
        $(this).bjuiajax("doAjax", {
            url: "/Common/GetWareHoseJson?FSTATUS=2",
            callback: function (json) {
                wareHouseLst = json;
            }
        });
        var gysList = LoadGYSDataForRowSel();
        var fstatus = '@Model.FSTATUS';
        var jldw = LoadUnitDataForRowSel();
        ConsumablesOutDetailgrid = $("#tabConsumablesOutDetail").datagrid({
            gridTitle: '消耗品出库明细',
            toolbarCustom:
                (fstatus=='2'?'':'<button type="button" id="btnAdd" data-icon="plus" class="btn btn-blue">添加</button><button type="button" id="btnSave" data-icon="save" class="btn btn-default">保存</button>')+
           '<button type="button" id="print" class="btn btn-green">打印</button><button type="button" id="preview" class="btn btn-red">预览</button>' +
           '<button id="export" type="button" class="btn btn-red">导出</button>'+(fstatus=='2'?'':'<button type="button" id="applay" class="btn btn-red">提交</button>'),
            showToolbar: true,
            toolbarItem: (fstatus=='2'?'':'del'),
            addLocation: 'first',
            dataUrl: '/CONSUMABLES/GetAllCONSUMABLESDetailJson?FPARENTID=' + fparentId,
            dataType: 'json',
            filterThead: false,
            columns: [
                {
                    name: 'FGUID',
                    label: 'FGUID',
                    align: 'center',
                    hide:true,
                    width: 50

                },
                {
                    name: 'FGOODSID',
                    label: '商品编号',
                    align: 'center',
                    eidt:false,
                    width: 80
                },
                {
                    name: 'FGOODSNAME',
                    label: '商品名称',
                    align: 'center',
                    eidt: false,
                    width: 80
                },
                {
                    name: 'FUNIT',
                    label: '计量单位',
                    align: 'center',
                    eidt: false,
                    type: 'select',
                    items: function () {
                        return jldw;
                    },
                    width: 80
                },
                {
                    name: 'FQUANTITY',
                    label: '数量',
                    align: 'center',
                    width: 80
                },
                {
                    name: 'FPRICE',
                    label: '单价',
                    align: 'center',
                    width: 110
                },
                {
                    name: 'FMONEY',
                    label: '金额',
                    align: 'center',
                    calc: 'sum',
                    calcTit: '金额合计',
                    width: 110
                },
                {
                    name: 'FMEMO',
                    label: '备注',
                    align: 'center',
                    width: 110
                }
            ],
            contextMenuB: true,
            editUrl: '/CONSUMABLES/EditConsumablesOutDetail?FPARENTID=' + fparentId,
            delUrl: '/CONSUMABLES/DelCONSUMABLES',
            editMode: 'inline',
            showTfoot: true,
            inlineEditMult:true,
            fullGrid: true,
            showLinenumber: true,
            paging: false,
            height: '100%',
            showCheckboxcol: false
        });
        $.CurrentNavtab.find("#export").click(function () {
            //$("form").attr("enctype", "multipart/form-data");
            window.open("/CONSUMABLES/ExportInfoOut?FPARENTID=" + fparentId);
        })
        $.CurrentNavtab.find("#applay").click(function () {
            submitConsumable();
        });
        function submitConsumable() {
            $(this).bjuiajax("doAjax", {
                url: "/CONSUMABLES/SubmitConsumable?fguid=" + fparentId,
                callback: function (json) {
                    if (json == '1')
                    {
                        $(this).alertmsg("ok", "提交成功");
                        $(this).navtab('closeTab', "CONSUMABLESOutDetail");
                    }
                }
            });
        }

        var outWare = '@Model.FWAREHOUSEID';
        $(document).on("click", "#btnAdd,#btnSave,#btnDel", function () {
            var btn = $(this).attr("id");
            switch (btn) {
                case "btnAdd":
                    Add();
                    break;
                case "btnSave":
                    datas = []
                    //$("#tabConsumablesOutDetail tbody tr").each(function (index) {
                    //    ConsumablesOutDetailgrid.datagrid("selectedRows",index);
                    //})
                    ConsumablesOutDetailgrid.datagrid("doSaveEditRow");
                    break;
                case "btnDel":
                    ConsumablesOutDetailgrid.datagrid("delRows", goodsBackDetailGrid.data('selectedDatas'));
                    break;
            }
        })
        var curFGUID='@Model.FGUID';
        function Add() {
            datas = [];
            $(this).dialog({
                id: 'ConsumablesOutDetail',
                url: '/CONSUMABLES/selectOutGoods?FWAREHOUSEID=' + outWare + "&FGUID=" + curFGUID,
                title: '选择商品',
                width: 840,
                mask: true,
                beforeClose: function ($dialog) {
                    var $checked = $dialog.find('input[name="child"]:checked');
                    if ($checked.length == 0)
                        return true;
                    $checked.each(function () {
                        var goods = JSON.parse($(this).val());
                        delete goods.FGUID;
                        //goods.FPARENTID = parentId;
                        datas.unshift(goods);
                        ConsumablesOutDetailgrid.datagrid("add", "last", goods);
                    });
                    ConsumablesOutDetailgrid.data("bjui.datagrid").tools.createTrs(datas, true);
                    $checked.each(function (i) {
                        ConsumablesOutDetailgrid.datagrid("doEditRow", i);
                    });
                    //trClick();
                    return true;
                }
            })
        };
    });
    
   
</script>